
:root{
    --blue1 : #1078AD;
    --smotth_blue :#88B7D3;
    --green1 : #026534;
}
/* ================ */
.blue{
    color: var(--blue1);
}
.green1{
    color: var(--green1);
}
/* ==========Steper========== */
.ques-line{
    position: relative;
    height: 3px;
    width: 100%;
    background: var(--green1);
    z-index: -100;
}
.ques-line span{
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: rgb(255, 255, 0);
}
.ques-line span:nth-child(1){
    left: -5px;
    top: -5px;
}
.ques-line span:nth-child(2){
    left: 49%;
    top: -5px;
}
.ques-line span:nth-child(3){
    right: -5px;
    top: -5px;
}
.stepper-blue{
    position: absolute;
    width: 30px;
    height: 30px;
    top: -10px;
    left: -10px;
    background-color: var(--smotth_blue) ;
    border-radius: 50%;
    z-index: -2;
}
.ques-line span h5{
    position: absolute;
    font-size: 13px;
    font-weight: 500;
    color: rgb(36, 36, 36);
}
.ques-line span:nth-child(1) h5{
    top: 30px;
    left: -30px;
}
.ques-line span:nth-child(2) h5{
    top: 30px;
    left: -35px;
}
.ques-line span:nth-child(3) h5{
    top: 30px;
    left: -10px;
}

/* ===========Question-button========= */
.ques-btn{
    padding: 10px 20px;
    background-color: var(--blue1);
    border: 1.7px solid var(--blue1);
    border-radius: 3px;
    font-weight: 500;
    color: #ffff;
}
.ques-btn:hover{
    background-color: var(--smotth_blue);
}
/***************************** page d'accueil *************************/
.header{
    background-image: url("img/SVG/Mergedbar-1.svg");
    background-size: cover; 
    background-repeat: no-repeat;
}
.link-language{
    color: var(--blue1);
    border-color: var(--blue1);
}
.header2{
    background-color: #F4CF1B;
}
.header2 h3{
    color: var(--blue1);
}
.partie_2 h4 , .header2 .para_1 {
    color: var(--blue1);
}
.text_accueille{
    color: #7F7F7F;
    font-weight: 500;
}
.quiz_num{
    font-weight: 500;
    font-style: normal !important;
    margin-left: 8px;
}
.answer{
    font-size: 18px;
}
/***************************** page d'introduction *************************/
.introduction h1{
    color: var(--blue1);
}
.introduction .content{
    background-color:  var(--smotth_blue);
    
}
/***************************** page d'resulte *************************/
.resulte .content{
    background-color:  var(--blue1);
    
}